header {
    background-color: rgb(53, 119, 251);
    padding:1%;
    margin-bottom: 0px;
}

button {
    padding:1%;
    margin:auto;
    color:azure;
    background-color: rgb(53, 119, 251);
}

h1 {
    color:white;
}

body {
    background-color: antiquewhite;
    margin:0px;
}

a {
    text-decoration: none;
}

nav {
    float:left;
    background-color: burlywood;
    height: calc(100vh - 112px); /* 110px = your header height */
}


li {
    margin:15px;
    list-style:none;
    background-color: aliceblue;
    color: rgb(53, 119, 251);
    border:2px black solid;
    padding:3%;
}

.currentPage {
    background-color: rgb(53, 119, 251);
    color:aliceblue;
}

main {
    padding: 10px 10px 10px 10px;
    

}

