header {
    background-color: rgb(53, 119, 251);
    padding:1%;
    margin-bottom: 10px;
}

button {
    padding:1%;
    margin:auto;
    color:azure;
    background-color: rgb(53, 119, 251);
}

h1 {
    color:white;
}

body {
    background-color: antiquewhite;
}

a {
    text-decoration: none;
}